@import '../../styles/mixins.scss';

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    margin: 0 11px;
    height: 18px;

    object,
    img {
      width: auto;
      height: 100%;
    }
  }

  &.is-header {
    li {
      display: flex;
      justify-content: center;

      object,
      img {
        width: auto;
        height: 100%;
      }
    }

    @include mobile {
      li {
        width: 25px;
        height: unset;
        a {
          height: 25px;
        }
      }
    }
  }
}

.open {
  @include mobile {
    .socials {
      display: flex;
      position: fixed;
      right: 40px;
      z-index: 200;
    }
  }
}

.footer {
  @include mobile {
    .socials {
      display: flex;
    }
  }
}
