@import '../../styles/mixins.scss';

.socials {
  display: flex;
  flex-direction: row;
  align-items: center;

  li {
    padding: 0;
    height: 18px;

    a {
      display: inline-block;
      padding: 0 12px;
      text-decoration: none;
      outline: none;
      border: none;
      height: 18px;
    }

    object,
    img {
      width: auto;
      height: 100%;
    }
  }

  &.is-header {
    li {
      display: flex;
      justify-content: center;

      object,
      img {
        width: auto;
        height: 100%;
      }
    }

    @include mobile {
      li {
        height: unset;
        a {
          height: 25px;
        }
      }
    }
  }
}

// .open {
//   @include mobile {
//     .socials {
//       display: flex;
//       position: fixed;
//       right: 40px;
//       z-index: 200;
//     }
//   }
// }

.footer {
  @include mobile {
    .socials {
      display: flex;
    }
  }
}
