@import '../../styles/variables';
@import '../../styles/mixins.scss';

.header {
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0 0 0;

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;

    &:hover {
      color: red;
    }
  }

  .contact-phone {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

  &-nav-button {
    display: none;

    @include mobile {
      display: block;
      align-self: flex-start;
      max-width: 35px;
      min-width: 35px;
      padding-top: 2.5px;
      cursor: pointer;
      z-index: 200;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      img {
        margin: 0;
        width: 100%;
      }
    }
  }

  &-languages {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    text-transform: uppercase;
    align-items: center;
    color: $light-grey;

    visibility: hidden; // temp
    position: absolute; // temp

    @include mobile {
      display: none;
    }

    li:nth-child(2) {
      margin: 0 5px;
    }
  }

  &-navigation {
    display: flex;
    flex-direction: row;
    font-weight: 900;
    text-transform: uppercase;
    color: #d7d7d7;

    @include mobile {
      display: none;
    }

    li {
      margin: 0 29px;

      @include tablet {
        margin: 0 12px;
      }

      @include mobile {
        margin: 20px 0;
      }
    }
  }

  object {
    pointer-events: none;
  }

  @include mobile {
    &.open {
      .header-navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 100;
        background: $almost-black;
      }
    }
  }

  @include small_mobile {
    margin-left: -27.5px;
    margin-right: -27.5px;
  }
}
